<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="ServiceName" value="ServiceTemplate.Core" />
    <add key="DisplayName" value="Service Template Core" />
    <add key="LogFile" value="d:\Logging\ServiceTemplate.Core" />
    <add key="ServiceDescription" value="Service Template Core Description" />
    <add key="DelayTime" value="10000" />
    <add key="DataDogEnv" value="Dev" />
    <add key="DataDogHost" value="Host" />
    <add key="Metric1" value="ServiceTemplate.Core.metric1" />
    <add key="Metric2" value="ServiceTemplate.Core.metric2" />
  </appSettings>
</configuration>